/BinarySearchInRotatedArray.class
/BubbleSort.class
/CountZeros.class
/Emp.class
/IsSortedArray.class
/MergeSort.class
/PalindromeNo.class
/PrintPatterns.class
/QuickSort.class
/ReverseOfNo.class
/SelectionSort.class
/SumOfDigits.class
/TestAnyCode.class
