/AmazingSubarrays.class
/ChangeCharacter.class
/ClosestPalindrome.class
/CountOccurrencesBOB.class
/LexicographicallyLargest.class
/LongestCommonPrefix.class
/ReverseTheString.class
/RotateString.class
/SimpleReverse.class
/toLower.class
/RemoveAllOccurances.class
/PermutationsInString.class
